/* @font-face kit by Fonts2u (http://www.one-fonts2u.one-com) */
@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("/fonts/DejaVuSansMono.ttf");
}

/* @font-face kit by Fonts2u (http://www.one-fonts2u.one-com) */ 
@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("/fonts/DejaVuSansMonoBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Julz Handwritten";
  src: url("/fonts/JulzHandwrittenRegular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Julz Handwritten";
  src: url("/fonts/JulzHandwrittenBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Julz Handwritten";
  src: url("/fonts/JulzHandwrittenHeavyItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Julz Handwritten Wide";
  src: url("/fonts/JulzHandwrittenWide.ttf");
}

h1,h2,h3,h4,h6 {
  margin:0px;
  font-weight:600; 
}

h2 {
  padding: 10px;
  font-size:35px;
}

h5 {
  margin:0px;
  font-size: 15px;
  font-style: italic;
  font-weight:400;
}

header {
  position: fixed;
  top:1vh;
  right:1vw;
  font-family: 'Julz Handwritten';
  font-weight: 900;
  font-style: normal;
}

form {
  margin: 0px;
}

.ralign {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.ralign div {
  margin-top: .25vh;
  margin-bottom: .25vh;
}

.header a:hover, .footer a:hover, .centered a:hover, .clickable:hover{
  text-shadow:   
  -1px -1px 0 #d3d3d3,  
  1px -1px 0 #d3d3d3,
  -1px 1px 0 #d3d3d3,
  1px 1px 0 #d3d3d3,
  0.0em -1px 0 #d3d3d3,
  0.0em 1px 0 #d3d3d3;
  cursor: pointer;
}

.header a, .footer a, .centered a{
  font-family: 'Julz Handwritten';
  color: black;
  text-decoration:none;
}


.hcenter {
  display:flex;
  align-items:center;
}

.header, .footer {
  font-style: italic;
  font-weight: 700;
  margin: 10px;
}

.puzzlename {
  height:20%;
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puzzletitle {
  font-family: "Julz Handwritten Wide";
  font-size:2.2vmin;
}

.puzzlewriter {
  font-family: "Julz Handwritten";
  font-size:1.5vmin;
  margin: 0.5vmin 0 0.5vmin 0;
}

.flavor {
  font-size:12px;
  font-style: italic;
  text-align: center;
  margin: 12px;
}

.body {
  text-align: left;
}

.authorsNotes ul {
  list-style: disc outside none;
  padding-left: 20px;
}

.authorsNotes li {
  margin-bottom: 10px;
}

.margined {
  margin: 12px;
}

.correctGuess {
  color: green;
  margin: -4px;
  margin-bottom: 10px;
  font-size: 20px;
}

.centered {
  font-family: 'Julz Handwritten';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.fitContent {
  width: -moz-fit-content;
  width: fit-content;
}

.hcentered {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 1200px;
  margin: auto;
}

.puzzle:hover img{ 
  -webkit-filter: drop-shadow(1px 1px 0 #d3d3d3) 
  drop-shadow(1px -1px 0 #d3d3d3)
  drop-shadow(0em -1px #d3d3d3)
  drop-shadow(0em 1px #d3d3d3)
  drop-shadow(-1px 1px #d3d3d3)
  drop-shadow(-1px -1px #d3d3d3);
  filter: drop-shadow(1px 1px 0 #d3d3d3) 
  drop-shadow(1px -1px 0 #d3d3d3)
  drop-shadow(0em -1px #d3d3d3)
  drop-shadow(0em 1px #d3d3d3)
  drop-shadow(-1px 1px #d3d3d3)
  drop-shadow(-1px -1px #d3d3d3);
  cursor: pointer;
}

.puzzle:hover a{ 
  -webkit-text-shadow:   
    -1px -1px 0 #d3d3d3,  
    1px -1px 0 #d3d3d3,
    -1px 1px 0 #d3d3d3,
    1px 1px 0 #d3d3d3,
    0.0em -1px 0 #d3d3d3,
    0.0em 1px 0 #d3d3d3;
  text-shadow:   
    -1px -1px 0 #d3d3d3,  
    1px -1px 0 #d3d3d3,
    -1px 1px 0 #d3d3d3,
    1px 1px 0 #d3d3d3,
    0.0em -1px 0 #d3d3d3,
    0.0em 1px 0 #d3d3d3;
  cursor: pointer;
}


a {
  font-size:12px;
}

ol, ul {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-align: left;
}

ul {
  list-style: none;
}

table {
  font-size:11px;
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  margin: 0px auto;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}